<launch>

  <arg name="model" default="burger"/>

  <include file="$(find ros_topoexplore)/launch/single_robot_topo.launch" />
  
  <!-- data_ana -->
  <node name="exp_data_analysis" pkg="fastest_explore" type="exp_data_analysis.py" output="screen">
    <param name="robot_name" value="robot1"/>
    <param name="robot_num" value="1"/>
    <param name="file_path" value="/home/master/explore_data/exp_data/mrtopo/large_indoor/"/>
  </node>

</launch>