<launch>

  <arg name="model" default="burger"/>
  <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find fastest_explore)/rviz/robotexplore.rviz" /> -->


  <node name="robot_explore" pkg="fastest_explore" type="multi_robot_explore.py" output="screen">
    <param name="robot_num" value="3"/>
  </node>
  

</launch>