<launch>

  <arg name="model" default="burger"/>
  <node name="rviz1" pkg="rviz" type="rviz" args="-d $(find fastest_explore)/rviz/robot1explore.rviz" />
  <node name="rviz2" pkg="rviz" type="rviz" args="-d $(find fastest_explore)/rviz/robot2explore.rviz" />


  <node name="robot_explore" pkg="fastest_explore" type="multi_robot_explore.py" output="screen">
    <param name="robot_num" value="2"/>
  </node>
  

</launch>